/*Remember: the (generated) html uses lowercase spans */

.sogeti-email:after {
content: "\40 Sogeti \2e com";
}
.CGE-email:after, .cge-email:after {
content: "\40 Capgemini \2e com";
}
.SwBMnl-email:after, .swbmnl-email:after {
content: "\40 SoftwareBeterMaken \2e nl";
}
.SysBMnl-email:after, .sysbmnl-email:after {
content: "\40 SystemenBeterMaken \2e nl";
}
